.hello-component {
  background-color: rgb(110, 94, 254);
  color: white;
  width: 400px;
  border-radius: 4px;
  padding: 50px;
  margin: 20px;
}
.hello {
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  .hello-component {
    text-align: center;
    width: auto;
  }
}
